@import url('https://fonts.cdnfonts.com/css/alarm-clock');
body {
    margin: 0;
    background-color: #1B244A;
}

h3 {
    font-size: 40px;
    color:#EEEEEE
}

.container {
    display: flex;
    justify-content: space-around;
}
.square {
    position: absolute;
    height: 240px;
    width: 310px;
    left: 230px;
    top: 125px;
    background-color: #080001;
}
.square2 {
    position: absolute;
    height: 240px;
    width: 310px;
    left: 994px;
    top: 125px;
    background-color: #080001;
}
.num1{
    position: absolute;
    left: 329px;
    top: -70px;
    font-family: 'alarm clock', sans-serif;
    color: #F94F6D;
    font-size: 200px;
}
.num2{
    position: absolute;
    left: 1090px;
    top: -70px;
    font-family: 'alarm clock', sans-serif;
    color: #F94F6D;
    font-size: 200px;
}
